/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

radio[pane="pmcommander-pane-graphics"]
{
	list-style-image: url("chrome://pmcommander/skin/gfx.png");
}

radio[pane="pmcommander-pane-network"]
{
	list-style-image: url("chrome://pmcommander/skin/net.png");
}

radio[pane="pmcommander-pane-performance"]
{
	list-style-image: url("chrome://pmcommander/skin/perf.png");
}

radio[pane="pmcommander-pane-UI"]
{
	list-style-image: url("chrome://pmcommander/skin/UI.png");
}

radio[pane="pmcommander-pane-security"]
{
	list-style-image: url("chrome://pmcommander/skin/lock.png");
}

radio[pane="pmcommander-pane-misc"]
{
	list-style-image: url("chrome://pmcommander/skin/misc.png");
}
